*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;     
}
.navbar{
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
}